<!-- <h1>{{ title }}</h1>
<h2>{{ subtitle }}</h2>
<h1>{{ getTest() }}</h1> -->

<!-- <app-user-list></app-user-list>

<app-login></app-login> -->

<!-- <app-make-and-call-function></app-make-and-call-function> -->
<!-- <app-important-events></app-important-events> -->

<!-- <app-make-acounter></app-make-acounter> -->

<!-- <app-basic-rule-of-style></app-basic-rule-of-style> -->

<!-- <app-property-binding></app-property-binding> -->
<!-- <app-if-else-condition></app-if-else-condition> -->
<!-- <app-switch-casesin-angular></app-switch-casesin-angular> -->
<!-- <app-for-loop-in-angular></app-for-loop-in-angular> -->
<!-- <app-nested-loop-angular></app-nested-loop-angular> -->
<!-- <app-dynamic-style></app-dynamic-style> -->

<!-- <app-header-component></app-header-component> -->
<!-- <app-form-in-angular></app-form-in-angular> -->
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button> -->

<!-- <app-todo-list-in-angular></app-todo-list-in-angular> -->
<!-- <app-send-data-parent-to-child-component
  [Item]="TaskList"
></app-send-data-parent-to-child-component> -->

<!-- Re Use Of Components -->
<!-- 
<div *ngFor="let task of TaskList">
  <app-send-data-parent-to-child-component
    [Item]="task"
  ></app-send-data-parent-to-child-component>
</div> -->
<!-- <app-send-data-child-to-parent-component
  (updateDataEvent)="childToparent($event)"
></app-send-data-child-to-parent-component> -->

<app-two-waybinding ></app-two-waybinding>
