<!-- <h1>{{ title }}</h1>
<h2>{{ subtitle }}</h2>
<h1>{{ getTest() }}</h1> -->

<!-- <app-user-list></app-user-list>

<app-login></app-login> -->

<!-- <app-make-and-call-function></app-make-and-call-function> -->
<!-- <app-important-events></app-important-events> -->

<!-- <app-make-acounter></app-make-acounter> -->

<!-- <app-basic-rule-of-style></app-basic-rule-of-style> -->

<!-- <app-property-binding></app-property-binding> -->
<!-- <app-if-else-condition></app-if-else-condition> -->
<app-switch-casesin-angular></app-switch-casesin-angular>
